$background: #f0efe9;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #3eb984;
$button-text-color: #fff;
$secondary-text-color: #b9babe;
$panel-color: #ffffff;
$scrollbar-color: #d7d8db;
